/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
node_modules/
*.log
.DS_Store
.env
.env.backup
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/storage/*.key
/storage/pail
storage/images/
storage/index/
storage/logs/
storage/voices/
ocr/__pycache__/
ocr/utils/__pycache__/
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/.vite
/.cursor
/public/storage
/public/storage
